.profile__image-edit-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.8) url('../../../images/edit-icon.svg') center no-repeat;
  background-size: 26px 26px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.profile__image:hover .profile__image-edit-button {
  opacity: 1;
}

